body {
  background-color: grey;
}

table {
  border: solid .1px #000;
  margin: 1% auto;
  font-size: 2rem;
}


table * {
  border-right: solid .1px #000;
  border-top: solid .1px #000;
  background-color: #fff;
}

th {
  color: white;
  background-color: black;
}
